<!DOCTYPE html>
<html>
<head>
  <title>Open App Button</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
    .button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <a href="/accounts/login" class="button">Click to Login/Signup</a>
</body>
</html>
